<iframe
  *ngIf="material.tipo === 'videoexterno'"
  src="https://www.youtube.com/embed/PGLUcbZDszA"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>

<video *ngIf="material.tipo === 'video'" width="100%" height="100%" controls>
  <source [src]="material.direccion" type="video/mp4" />
</video>

<embed
  *ngIf="material.tipo === 'archivo'"
  [src]="material.direccion"
  type="application/pdf"
  width="100%"
  height="100%"
  autostart="false"
/>
